.height-full{
    height: 100%;
}
.height-fixed {
    height: 430px;
    border: 1px solid red;
}
.margin-auto {
    margin: auto;
}
.margin-left-md {  margin-left: 2rem; }
.margin-right-md {  margin-right: 2rem; }
.margin-left-lg {  margin-left: 3rem; }
.margin-right-lg {  margin-right: 3rem; }

.margin-bottom-sm {
    margin-bottom: 1rem ;
}
.width-sm {
    width: 20%
}
.width-md {
    width: 50%;
}
.width-lg {
    width: 100%;
}

.xs {
    font-size: 0.8rem
}
.cl-warning {
    color: red;
}
.text-center {
    
    text-align: center;
}

/* For Loguin.tsx **/
.image-container {
    padding: 1rem;
}
.shadow {
    box-shadow: inset 0 -4em 4em rgba(0, 0, 0, 0.3), 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.2);
}

.image-container ion-img{
    width: 100%;
    margin: auto;
    
}

.image-container p {
    color: gray;
    text-align: center;
    font-size: small;
    max-width: 300px;
    margin:auto;
}
/* */